html {
  font-size: 16px;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: sans-serif;
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: 100px 1fr;
  grid-template-areas:
    "header header header header header"
    /* "poster poster poster poster poster" */
    "movies movies movies movies movies";
  background-color: black;
}

header {
  grid-area: header;
  height: 100px;
}

/* .poster {
  grid-area: poster;
  background-color: aquamarine;
} */

main {
  grid-area: movies;
  /* background-color: burlywood; */
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.navegacion {
  width: 29rem;
  /* background-color: coral; */
  font-size: 1.1rem;
  margin-right: 2rem;
  text-align: center;
}

.navegacion a {
  margin-right: 3rem;
  color: yellow;
  text-decoration: none;
}

.buscador {
  /* background-color: darkgoldenrod; */
  width: 40rem;
  margin-right: 2rem;
  height: 2.5rem;
  display: flex;
  align-items: center;
  cursor: pointer;
}

.buscador input {
  display: inline-block;
  height: 2rem;
  width: 45rem;
  border-radius: 2px;
  border-width: 0;
  border-top-right-radius: 0;
  border-bottom-right-radius: 0;
}

.lupa-container {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  background-color: #fed941;
  height: 2.1rem;
  width: 5rem;
  border-top-left-radius: 0;
  border-bottom-left-radius: 0;
  border-top-right-radius: 2px;
  border-bottom-right-radius: 2px;
}

h1 {
  color: white;
  margin-left: 1rem;
}

.movie-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
}

.pelicula img {
  width: 15rem;
  height: 22rem;
  margin-bottom: 1rem;
  cursor: pointer;
}
