html {
  font-size: 16px;
}

*,
*::after,
*::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  margin: 0;
  background-color: #0f0e17;
  overflow-x: hidden;
}

@font-face {
  font-family: "Inter";
  src: url("../assets/Inter.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat";
  src: url("../assets/Montserrat.ttf");
  font-display: swap;
}

@font-face {
  font-family: "Montserrat Bold";
  src: url("../assets/Montserrat-Bold.ttf");
  font-display: swap;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 24px 83px;
  width: 100%;
  height: 112px;
  background-color: #0f0e17;
}

.logo {
  width: 106.81px;
  height: 64px;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.logo:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.todas {
  width: 48px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-right: 48px;
  color: #fffffe;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin-left: 0;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.todas:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fed941;
}

.underline {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fed941;
}

/* .todas-responsive {
  width: 48px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  text-decoration-line: underline;
  color: $color-amarillo;
} */
.mas-valoradas {
  width: 114px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fffffe;
  margin-right: 40px;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.mas-valoradas:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fed941;
}

/* .mas-valoradas-responsive {
  width: 114px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: $color-blanco;
  text-decoration-line: none;
} */
.menos-valoradas {
  width: 134px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: #fffffe;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  margin-right: 48px;
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.menos-valoradas:hover {
  -webkit-text-decoration-line: underline;
          text-decoration-line: underline;
  color: #fed941;
}

/* .menos-valoradas-responsive {
  width: 134px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: $color-blanco;
  text-decoration-line: none;
} */
/* .navegacion-responsive {
  display: none;
  flex-direction: column;
  margin-right: 48px;
  justify-content: center;
  align-items: center;
} */
.buscador {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  width: 28vw;
  height: 44px;
}

.buscador input {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 11px 12px;
  width: 90%;
  height: 44px;
  background: #fffffe;
  border: 1px solid #fed941;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 8px 0px 0px 8px;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
}

.buscador img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px;
  width: 72px;
  height: 44px;
  background: #fed941;
  border-radius: 0px 4px 4px 0px;
  cursor: pointer;
}

.user-movie {
  margin-left: 1rem;
  width: 100px;
  height: 70px;
  /* background-color: aqua; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.user-movie .movie,
.user-movie .user {
  font-size: 30px;
  color: #fed941;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.user-movie .movie:hover,
.user-movie .user:hover {
  cursor: pointer;
  opacity: 0.8;
}

.movie-home {
  margin-left: 1rem;
  width: 100px;
  height: 70px;
  /* background-color: aqua; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 120px;
}

.movie-home .movie,
.movie-home .home {
  font-size: 30px;
  color: #fed941;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.movie-home .movie:hover,
.movie-home .home:hover {
  cursor: pointer;
  opacity: 0.8;
}

.user-home {
  margin-left: 1rem;
  width: 100px;
  height: 70px;
  /* background-color: aqua; */
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  right: 120px;
}

.user-home .user,
.user-home .home {
  font-size: 30px;
  color: #fed941;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
}

.user-home .user:hover,
.user-home .home:hover {
  cursor: pointer;
  opacity: 0.8;
}

/* @media (max-width: 575px) {
  .logo {
    margin-left: -70px;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 100vw;
    transition: width 1s ease;
    input::placeholder {
      font-size: 0.52rem;
      transition: all 1s ease;
    }
    img {
      width: 18px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 576px) {
  .logo {
    margin-left: -70px;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 60vw;
    transition: width 1s ease;
    img {
      width: 20px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
} */
/* @media (min-width: 600px) {
  .buscador {
    input::placeholder {
      font-size: 0.62rem;
      transition: all 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 620px) {
  .buscador {
    input::placeholder {
      font-size: 0.7rem;
      transition: all 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 640px) {
  .buscador {
    input::placeholder {
      font-size: 0.85rem;
      transition: all 1s ease;
    }

    img {
      width: 18px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 690px) {
  .buscador {
    input::placeholder {
      font-size: 1rem;
      transition: all 1s ease;
    }

    img {
      width: 30px;
      padding: 5px 5px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: -50px;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 60vw;
    transition: width 1s ease;
    img {
      width: 20px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
} */
/* @media (max-width: 1020px) {
  .logo {
    margin-left: 0;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 60vw;
    transition: width 1s ease;
    img {
      width: 40px;
      padding: 10px 10px;
      transition: width 1s ease;
    }
  }
} */
.slider-container img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  width: 87vw;
  height: auto;
  height: 310px;
  left: 78px;
  top: 136px;
}

.slider-container .ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  left: 120px;
  top: 380px;
}

.slider-container .ahora {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #fed941;
  border: none;
  font-family: "Montserrat Bold";
  cursor: pointer;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.slider-container .ahora:hover {
  opacity: 0.7;
}

.slider-container .ahora img {
  position: static;
  width: 12px;
  height: 12px;
  left: 24px;
  top: 12px;
  margin-right: 10px;
}

.slider-container .despues img {
  position: static;
  width: 15px;
  height: 15px;
  left: 24px;
  top: 12px;
  margin-right: 10px;
}

.slider-container .despues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  color: #fed941;
  font-family: "Montserrat Bold";
  background-color: #0c0e16;
  border: 1px solid #fed941;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.slider-container .despues:hover {
  opacity: 0.7;
}

.slider-container .recorrer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: absolute;
  top: 460px;
  left: 50%;
}

.slider-container .recorrer span {
  background-color: #a7a9be;
  margin-right: 1rem;
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  cursor: pointer;
  -webkit-transition: all 300ms ease;
  transition: all 300ms ease;
}

.slider-container .slide-der {
  position: absolute;
  border-radius: 50%;
  color: #fed941;
  top: 50%;
  padding: 15px;
  font-size: 50px;
  text-align: center;
  margin-top: -70px;
  cursor: pointer;
  right: 100px;
  -webkit-transition: all 500ms;
  transition: all 500ms;
  font-family: "Montserrat Bold";
}

.slider-container .slide-der:hover {
  color: #0c0e16;
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

.slider-container .slider-slide {
  display: none;
}

.slider-container .slider-slide.active {
  display: block;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.slider-container .slider-slides .dos {
  display: block;
  -webkit-transform: translate(89%, -110px);
          transform: translate(89%, -110px);
}

.slide-trailer-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(15, 14, 23, 0.5);
  padding: 4rem;
  color: #fffffe;
  font-family: "Montserrat";
  z-index: 2;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.slide-trailer-container iframe {
  width: 80%;
  height: 500px;
  margin-left: 6.5rem;
}

.slide-trailer-container .closeTrailer {
  font-size: 2rem;
  position: absolute;
  right: 48px;
  top: 30px;
  cursor: pointer;
  padding: 0 10px;
}

#mainIndex {
  position: absolute;
  left: 78px;
  top: 500px;
  width: 90%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  padding: 0px;
  position: absolute;
  left: 83px;
  top: 500px;
  font-family: "Montserrat Bold";
  line-height: 58px;
  text-align: center;
  letter-spacing: -0.005em;
}

#mainIndex h1 {
  color: #fffffe;
}

#mainIndex .movie-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  max-width: 100%;
}

#mainIndex .movie-container .pelicula {
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
  position: relative;
}

#mainIndex .movie-container .pelicula:hover {
  -webkit-transform: scale(0.9);
          transform: scale(0.9);
}

#mainIndex .movie-container .pelicula .puntaje {
  position: absolute;
  top: 50px;
  color: white;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1rem;
  background-color: #000;
  width: 75px;
  height: 50px;
  border: 1px solid #fed941;
  border-left-width: 0;
  border-right-width: 0;
  z-index: 1;
}

#mainIndex .movie-container .pelicula .puntaje img {
  width: 50px;
  height: 20px;
  margin: 0 5px 0 0;
}

#mainIndex .movie-container .pelicula .round {
  width: 50px;
  height: 50px;
  background-color: #000;
  position: absolute;
  top: 50px;
  left: 45px;
  border-radius: 50%;
  border: 1px solid #fed941;
}

#mainIndex .movie-container .pelicula img {
  width: 222px;
  height: 350px;
  margin-bottom: 0.5rem;
  cursor: pointer;
  margin-right: 1.2rem;
  color: #fffffe;
}

#mainIndex .movie-container .pelicula img:hover {
  border: 5px solid #fed941;
  border-radius: 8px;
}

#mainIndex .loader {
  display: block;
  width: 50px;
  margin-left: auto;
  margin-right: auto;
}

.movie-description-container {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: rgba(15, 14, 23, 0.5);
  padding: 2rem;
  color: #fffffe;
  font-family: "Montserrat";
  z-index: 2;
  -webkit-transition: -webkit-transform 500ms ease;
  transition: -webkit-transform 500ms ease;
  transition: transform 500ms ease;
  transition: transform 500ms ease, -webkit-transform 500ms ease;
}

.movie-description-container .movie-description {
  background-color: rgba(15, 14, 23, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 1rem;
  cursor: default;
}

.movie-description-container .movie-description .close {
  font-size: 2rem;
  position: absolute;
  right: 48px;
  top: 48px;
  cursor: pointer;
  padding: 0 10px;
}

.movie-description-container .movie-description iframe {
  margin-right: 50px;
}

.movie-description-container .movie-description .mainImg {
  width: 200px;
  height: 250px;
  margin-right: 200px;
  -webkit-transform: matrix(0.71, -0.41, 1.22, 0.71, 0, 0);
          transform: matrix(0.71, -0.41, 1.22, 0.71, 0, 0);
}

.movie-description-container .movie-description .description {
  width: 500px;
  padding-top: 50px;
}

.movie-description-container .movie-description .description h2 {
  text-align: left;
  margin-bottom: 0;
  font-family: "Montserrat Bold";
}

.movie-description-container .movie-description .description p:nth-of-type(1) {
  line-height: 25px;
  margin-top: 0;
  text-align: left;
}

.movie-description-container .description .ver {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0px;
}

.movie-description-container .description .ahora {
  margin-right: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  background-color: #fed941;
  border: none;
  font-family: "Montserrat Bold";
  cursor: pointer;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.movie-description-container .description .ahora:hover {
  opacity: 0.7;
}

.movie-description-container .description .ahora img {
  position: static;
  width: 12px;
  height: 12px;
  left: 24px;
  top: 12px;
  margin-right: 10px;
}

.movie-description-container .description .despues img {
  position: static;
  width: 15px;
  height: 15px;
  left: 24px;
  top: 12px;
  margin-right: 10px;
}

.movie-description-container .description .despues {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 10px 20px;
  color: #fed941;
  font-family: "Montserrat Bold";
  background-color: #0c0e16;
  border: 1px solid #fed941;
  border-radius: 4px;
  cursor: pointer;
  -webkit-transition: opacity 400ms ease;
  transition: opacity 400ms ease;
}

.movie-description-container .description .despues:hover {
  opacity: 0.7;
}

.movie-description-container .description span {
  margin-right: 10px;
}

.movie-description-container .description i {
  font-size: 10px;
  margin-left: 10px;
  margin-top: -10px;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  text-align: center;
}

.none {
  display: none;
}

.translate {
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
}

.not-found {
  color: white;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}

.not-found img {
  width: 400px;
  height: 300px;
}

.not-found p {
  position: absolute;
  top: 240px;
}

#mainFormUsuario {
  width: 50%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
}

.formulario-usuario label {
  color: white;
}

.formulario-usuario input {
  outline: 4px solid #fed941;
  font-family: "Montserrat Bold";
}

.formulario-usuario input:focus {
  outline: 4px solid #fed941;
  border: 3px solid black;
}

.formulario-usuario input::-webkit-input-placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-usuario input:-ms-input-placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-usuario input::-ms-input-placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-usuario input::placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-usuario input[type="submit"],
.formulario-usuario input[type="button"] {
  background-color: #fed941;
  border: 2px solid black;
  outline: 0;
  font-family: "Montserrat Bold";
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.formulario-usuario input[type="submit"]:hover,
.formulario-usuario input[type="button"]:hover {
  border: 2px solid #fed941;
  outline: 0;
  background-color: black;
  color: #fed941;
}

.margin {
  margin-top: 20px;
}

.formulario-usuario h1 {
  color: #fed941;
  font-size: 32px;
  text-align: center;
  font-family: "Montserrat Bold";
  margin-bottom: 25px;
}

.formulario-usuario .validaciones {
  text-align: center;
  margin-top: 15px;
  font-size: 1rem;
  background-color: green;
  padding: 5px;
  color: white;
  border-radius: 8px;
  font-family: "Montserrat Bold";
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  margin-top: -25px;
}

#mainFormPeli {
  width: 50%;
  height: 100vh;
  margin-left: auto;
  margin-right: auto;
  font-family: "Montserrat";
}

.formulario-peli label {
  color: white;
}

.formulario-peli input:not([type="date"]),
.formulario-peli textarea {
  outline: 4px solid #fed941;
  font-family: "Montserrat Bold";
}

.formulario-peli input[type="date"] {
  outline: 4px solid #fed941;
  font-family: "Montserrat";
}

.formulario-peli textarea {
  resize: none;
}

.formulario-peli input:focus,
.formulario-peli textarea:focus {
  outline: 4px solid #fed941;
  border: 3px solid black;
}

.formulario-peli input::-webkit-input-placeholder,
.formulario-peli textarea::-webkit-input-placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-peli input:-ms-input-placeholder,
.formulario-peli textarea:-ms-input-placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-peli input::-ms-input-placeholder,
.formulario-peli textarea::-ms-input-placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-peli input::placeholder,
.formulario-peli textarea::placeholder {
  font-family: "Montserrat";
  color: black;
}

.formulario-peli input[type="submit"],
.formulario-peli input[type="button"] {
  background-color: #fed941;
  border: 2px solid black;
  outline: 0;
  font-family: "Montserrat Bold";
  -webkit-transition: all 500ms ease;
  transition: all 500ms ease;
}

.formulario-peli input[type="submit"]:hover,
.formulario-peli input[type="button"]:hover {
  border: 2px solid #fed941;
  outline: 0;
  background-color: black;
  color: #fed941;
}

.margin {
  margin-top: 20px;
}

.formulario-peli h1 {
  color: #fed941;
  font-size: 32px;
  text-align: center;
  font-family: "Montserrat Bold";
  margin-bottom: 25px;
}

.formulario-peli .validaciones {
  text-align: center;
  margin-top: 15px;
  font-size: 1rem;
  background-color: green;
  padding: 5px;
  color: white;
  border-radius: 8px;
  font-family: "Montserrat Bold";
  opacity: 0;
  -webkit-transition: opacity 500ms ease;
  transition: opacity 500ms ease;
  margin-top: -25px;
}
/*# sourceMappingURL=style.css.map */