$color-amarillo: #fed941;
$color-fondo: #0f0e17;
$color-blanco: #fffffe;

header {
  display: flex;
  align-items: center;
  padding: 24px 83px;
  width: 100%;
  height: 112px;
  background-color: $color-fondo;
}

.logo {
  width: 106.81px;
  height: 64px;
  transition: transform 500ms ease;
  &:hover {
    transform: scale(0.9);
  }
}

.todas {
  width: 48px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  margin-right: 48px;
  color: $color-blanco;
  text-decoration-line: none;
  margin-left: 0;
  transition: all 300ms ease;
  &:hover {
    text-decoration-line: underline;
    color: $color-amarillo;
  }
}

.underline {
  text-decoration-line: underline;
  color: $color-amarillo;
}

/* .todas-responsive {
  width: 48px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  text-decoration-line: underline;
  color: $color-amarillo;
} */

.mas-valoradas {
  width: 114px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $color-blanco;
  margin-right: 40px;
  text-decoration-line: none;
  transition: all 500ms ease;
  &:hover {
    text-decoration-line: underline;
    color: $color-amarillo;
  }
}

/* .mas-valoradas-responsive {
  width: 114px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: $color-blanco;
  text-decoration-line: none;
} */

.menos-valoradas {
  width: 134px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 16px;
  line-height: 19px;
  text-align: center;
  color: $color-blanco;
  text-decoration-line: none;
  margin-right: 48px;
  transition: all 500ms ease;
  &:hover {
    text-decoration-line: underline;
    color: $color-amarillo;
  }
}

/* .menos-valoradas-responsive {
  width: 134px;
  height: 19px;
  font-family: "Inter", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 1rem;
  line-height: 19px;
  text-align: center;
  color: $color-blanco;
  text-decoration-line: none;
} */

/* .navegacion-responsive {
  display: none;
  flex-direction: column;
  margin-right: 48px;
  justify-content: center;
  align-items: center;
} */

.buscador {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 0px;
  width: 28vw;
  height: 44px;
  input {
    display: flex;
    align-items: center;
    padding: 11px 12px;
    width: 90%;
    height: 44px;
    background: $color-blanco;
    border: 1px solid $color-amarillo;
    box-sizing: border-box;
    border-radius: 8px 0px 0px 8px;
    font-family: "Montserrat", sans-serif;
    font-weight: bold;
  }
  img {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px;
    width: 72px;
    height: 44px;
    background: $color-amarillo;
    border-radius: 0px 4px 4px 0px;
    cursor: pointer;
  }
}

.user-movie {
  margin-left: 1rem;
  width: 100px;
  height: 70px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  .movie,
  .user {
    font-size: 30px;
    color: $color-amarillo;
    transition: opacity 500ms ease;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.movie-home {
  margin-left: 1rem;
  width: 100px;
  height: 70px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 120px;
  .movie,
  .home {
    font-size: 30px;
    color: $color-amarillo;
    transition: opacity 500ms ease;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

.user-home {
  margin-left: 1rem;
  width: 100px;
  height: 70px;
  /* background-color: aqua; */
  display: flex;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  right: 120px;
  .user,
  .home {
    font-size: 30px;
    color: $color-amarillo;
    transition: opacity 500ms ease;
    &:hover {
      cursor: pointer;
      opacity: 0.8;
    }
  }
}

/* @media (max-width: 575px) {
  .logo {
    margin-left: -70px;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 100vw;
    transition: width 1s ease;
    input::placeholder {
      font-size: 0.52rem;
      transition: all 1s ease;
    }
    img {
      width: 18px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 576px) {
  .logo {
    margin-left: -70px;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 60vw;
    transition: width 1s ease;
    img {
      width: 20px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
} */

/* @media (min-width: 600px) {
  .buscador {
    input::placeholder {
      font-size: 0.62rem;
      transition: all 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 620px) {
  .buscador {
    input::placeholder {
      font-size: 0.7rem;
      transition: all 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 640px) {
  .buscador {
    input::placeholder {
      font-size: 0.85rem;
      transition: all 1s ease;
    }

    img {
      width: 18px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 690px) {
  .buscador {
    input::placeholder {
      font-size: 1rem;
      transition: all 1s ease;
    }

    img {
      width: 30px;
      padding: 5px 5px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
}

@media (min-width: 768px) {
  .logo {
    margin-left: -50px;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 60vw;
    transition: width 1s ease;
    img {
      width: 20px;
      padding: 2px 2px;
      transition: width 1s ease;
    }
  }
  .todas,
  .mas-valoradas,
  .menos-valoradas {
    display: none;
  }
  .navegacion-responsive {
    display: flex;
  }
} */

/* @media (max-width: 1020px) {
  .logo {
    margin-left: 0;
    transition: margin-left 1s ease;
  }
  .buscador {
    width: 60vw;
    transition: width 1s ease;
    img {
      width: 40px;
      padding: 10px 10px;
      transition: width 1s ease;
    }
  }
} */
